.board-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px; */
  width: 90%;
  margin: 0 auto;

}

/* .table {
  Add any additional styling you need 
*/

@media screen and (max-width: 720px) {
  .board-container {
    grid-template-columns: 1fr;
  }
  /* .table{
    width: 300px;
  } */
}
.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f4;
}
#table-title-form{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: white;
}

.icon-button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.add-icon {
  padding-right: 20px;
}
.add-icon:hover {
  color: #53ff47;
}

.trash-icon:hover {
  color: #ff474c;
}

.edit-icon:hover {
  color: #d19c04;
}

.download-icon:hover {
  color: #04d126;
}
