.phases-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phase {
  text-align: center;
  margin-bottom: 20px;
 
}

.phase h2 {
  font-size: 22px;
  margin-bottom: 5px;
  text-align: left;
}

.phase p {
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
  padding: 20px 30px;
  background-color: var(--clr-primary); 
  width: 500px;
  border-radius: 5px;
}

.phase a {
  color: white;
  text-decoration: none;
}

.phase a:hover {
    font-weight: 500;
}
